body {
	background-color: #777;
	width: 960px;
	font-family: "Arial", "Helvetcia-Neue", Helvetica, sans-serif;
	font-size: 18px;
	text-align: center;
}

header, nav, #section, aside, footer {
	display: block;
	background-color: #ebebeb;
	color: #777;
	margin: 10px;
	padding: 10px;
}

#section {
	display: block;
	width: 495px;
	float: left;
	overflow: hidden;
}

aside {
	width: 380px;
	height: 280px;
	float: right;
	overflow: hidden;
}

#article {
	background-color: #777;
	color: #ebebeb;
	padding: 10px;
}

.clear {
 clear: both;
}

#under {
	background-color: #ebebeb;
	color: #777;
	padding: 5px;
	margin: 10px;
}

#undertwo {
	background-color: #ebebeb;
	color: #777;
	padding: 5px;
	margin: 10px;
}

